// Theming
$krlx-red: #aa0000;
$krlx-red-dark: #880000;
$krlx-red-light: #cc0000;

// Typography
$font-family-sans-serif: "Noto Sans", sans-serif;
$link-color: $krlx-red;

// Priority colors
$priority: (
    "a": #1b1c1d,
    "b": #767676,
    "c": #6435c9,
    "d": #2185d0,
    "e": #00b5ad,
    "f": #21ba45,
    "g": #b5cc18,
    "h": #fbbd08,
    "i": #f2711c,
    "j": #db2828,
    "s": #e8e8e8
);

$light-priorities: g, h, s;
